# Executables and logs for Xilinx ISE

_ngo/
_xmsgs/
iseconfig/
isim/
xst/

*.cmd
*.cmd_log
*.prj
*.gise
*.exe
*.html
*.stx
*.wdb
*.ini
.lso
*.sch
*.sdb
*.log
*.xml
*.xmsgs
*.xrpt
*.xsl
*.xst

!*.v
!*.xise
