# exclude all
*
!*/
!.gitignore

# files in entire repo
!*.md
!*.pdf
!*.png
!*.tex
!*.txt
!Makefile
!*.py
!*.v

# Xilinx project files to include
!*.bit
!*.log
!*.prj
!*.ucf
!*.wcfg
!*.xco
!*.xise

# special case to file patterns
*_pad.txt

# generated folders
iseconfig/
xlnx_auto_0_xdb/
xst/
_ngo/
_xmsgs/
synthesis/
netgen/
