[submodule "CMPE415-Programmable-Logic-Devices"]
	path = CMPE415-Programmable-Logic-Devices
	url = https://github.com/sabbirahm3d/CMPE415-Programmable-Logic-Devices
[submodule "CMPE-Capstone"]
	path = CMPE-Capstone
	url = https://github.com/sabbirahm3d/CMPE-Capstone
[submodule "CMPE323-Signals-And-Systems"]
	path = CMPE323-Signals-And-Systems
	url = https://github.com/sabbirahm3d/CMPE323-Signals-And-Systems
