//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 21 17:06:58 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_RED" LOCATE = SITE "H14" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "F14" LEVEL 1;
COMP "VGA_BLUE" LOCATE = SITE "G15" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "C9" LEVEL 1;
COMP "SW0" LOCATE = SITE "L13" LEVEL 1;
COMP "SW1" LOCATE = SITE "L14" LEVEL 1;
COMP "SW2" LOCATE = SITE "H18" LEVEL 1;
COMP "VGA_GREEN" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "F15" LEVEL 1;
NET "CLK_50MHZ_BUFGP/IBUFG" BEL "CLK_50MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "CLK_50MHZ_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

